<header class="pt-7 px-10 bg-center bg-no-repeat bg-cover bg-desktop-header h-[655px] ">
  <div class="">
    <nav class="flex justify-between items-center">
      <div>
        <img src="assets/img/logo.svg" alt="logo">
      </div>
      <img src="assets/img/icon-hamburger.svg" alt="" class="sm:hidden">
      <ul class="hidden sm:flex sm:items-center sm:gap-10 sm:text-white font-barlow">
        <li><button>About</button></li>
        <li><button>Services</button></li>
        <li><button>Projects</button></li>
        <li><button class="text-black rounded-3xl bg-white py-3 px-6">CONTACT</button></li>
      </ul>
    </nav>
    <div class="mt-20">
      <h1 class="text-center text-3xl text-white font-fraunces-black tracking-[14px] sm:tracking-[18px] sm:text-5xl">WE ARE CREATIVES</h1>
    </div>
    <div class="static">
      <img src="assets/img/icon-arrow-down.svg" alt="arrow down" class="absolute mx-auto bottom-56 left-1/2 sm:top-72">
    </div>
  </div>
</header>