<header class="pt-7 px-10 bg-center bg-no-repeat bg-cover bg-desktop-header h-[655px]">
  <div class="static">
    <nav class="flex justify-between">
      <div>
        <img src="assets/img/logo.svg" alt="logo">
      </div>
      <img src="assets/img/icon-hamburger.svg" alt="" class="md:hidden">
      <ul class="hidden font-barlow md:flex md:items-center md:gap-10 md:text-white ">
        <li><button>About</button></li>
        <li><button>Services</button></li>
        <li><button>Projects</button></li>
        <li><button class="text-black rounded-3xl bg-white py-3 px-6 hover:text-white hover:bg-opacity-25 transition ease-in-out duration-[250ms]">CONTACT</button></li>
      </ul>
    </nav>
    <div class="mt-20">
      <h1 class="text-center text-3xl text-white font-fraunces-black tracking-[8px] sm:tracking-[18px] sm:text-5xl xl:text-7xl">WE ARE CREATIVES</h1>
    </div>
  </div>
</header>