<nav class="flex justify-between bg-[#3EBFFF] py-7 px-10">
  <div>
    <img src="assets/img/logo.svg" alt="logo">
  </div>
  <img src="assets/img/icon-hamburger.svg" alt="" class="md:hidden">
  <ul class="hidden font-barlow md:flex md:items-center md:gap-10 md:text-white ">
    <li><a routerLink="" class="link">Home</a></li>
    <li><a routerLink="/about" class="link">About</a></li>
    <li><a class="link">Services</a></li>
    <li><a class="link">Projects</a></li>
    <li><a routerLink="/contact" class="cursor-pointer text-black rounded-3xl bg-white py-3 px-6 hover:text-white hover:bg-opacity-25 transition ease-in-out duration-[250ms]">CONTACT</a></li>
  </ul>
</nav>