@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'barlow-semibold';
    src: url(assets/fonts/Barlow-SemiBold.ttf);
  }
  @font-face {
    font-family: 'fraunces-bold';
    src: url(assets/fonts/Fraunces_72pt-Bold.ttf);
  }
  @font-face {
    font-family: 'fraunces-black';
    src: url(assets/fonts/Fraunces_72pt-Black.ttf);
  }
}